
<div class="max-w-screen-md mx-auto p-5">
  <div class="text-center mb-16">
    <p class="mt-4 text-sm leading-7 text-gray-500 font-regular uppercase">
      Lenin
    </p>
    <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-gray-900">
      Faça seu <span class="text-indigo-600">login</span>
    </h3>
  </div>

   <%= form_with(scope: :session, url: login_path , id:"new" ) do |f|%>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <%= f.label :Email, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
        <%= f.email_field :email, class:"appearance-none block w-full bg-gray-200 text-gray-700 py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"%>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <%= f.label :Senha, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
        <%= f.password_field :password , class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"%>
      </div>
    </div>
  </div>
  <div class="flex justify-center pb-8">
    <span><%= f.submit "Entrar" , class:"shadow bg-indigo-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded"%></span>
  </div>
</div>
<%end%>
</div>
