<div class="new-container">
<%= render 'shared/errors' %>

<%= form_with(model: @article, local:true, id:"new" ) do |f|%>
    <fieldset>
        <legend class="legenda">Sua postagem: </legend>

        <div class="labelnew"><%= f.label :Titulo%></div>
        <div class="centeringform">
            <%= f.text_field :title%>
        </div>

        
        <div class="labelnew"><%= f.label :Descrição%></div>
        <div class="centeringform">
            <%= f.text_area :description%>
        </div>

        <div ><%= f.submit :Postar%></div>
    </fieldset>
<%end%>
</div>
