
<div class="new-container"></div>
<%= form_with(model: @article, local:true, class:"new-container" ) do |f|%>
    <fieldset>
        <legend class="legenda">Sua postagem vai ser: </legend>

        <%= f.label :Titulo%>
        <div>
            <%= f.text_field :title%>
        </div>

        <%= f.label :Descrição%>
        <div>
            <%= f.text_area :description%>
        </div>

        <div><%= f.submit %></div>
    </fieldset>
<%end%>