<div class="max-w-screen-md mx-auto p-5">
  <div class="text-center mb-16">
    <p class="mt-4 text-sm leading-7 text-gray-500 font-regular uppercase">
      Lenin
    </p>
    <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-gray-900">
      Crie seu <span class="text-indigo-600">post</span>
    </h3>
  </div>
  <%= render 'shared/errors', obj:@article %>
  <%= form_with(model: @article, local:true, id:"new" ) do |f|%>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= f.label :Titulo, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
        <%= f.text_field :title, class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"%>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <%= f.label :Conteúdo, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
        <%= f.text_area :description, rows: 10, cols:100, class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"%>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <%= f.label "Categorias", class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
        <ul class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name,
              { prompt: "Escolha uma categoria da lista abaixo. Não é obrigatório."}, { multiple: true } do |b|%>
            <li class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600">
              <div class="flex items-center pl-3">
                <%= b.check_box  class:"w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"%>
                <%= b.label  class:"py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300"%>
              </div>
            </li>
        <%end%>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex justify-center pb-8">
    <%= f.submit :Postar! , class:"shadow bg-indigo-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded"%>
  </div>
</div>
<%end%>
</div>
