<h1 class="new-title text-center text-6xl underline py-5">Detalhes da sua postagem</h1>


<p><b>Title: <%= @article.title%></b></p>
<p><b>Description: <%= @article.description%></b></p>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Apagar', article_path(@article), data: {"turbo-method": :delete, "turbo-confirm": "Are you sure?"} %> |
<%= link_to 'Retornar para a listagem de postagens', articles_url %> 