<h1 class="new-title text-center text-6xl underline py-5">Detalhes da sua postagem</h1>
<h1 style="font-size:5.5rem;" class="text-center text-6xl py-5"><%= @article.title%></h1>


<div class="min-h-screen bg-gradient-to-b from-gray-900 to-gray-600 bg-gradient-to-r" >
        <div class='overflow-x-auto w-full py-6'>
            <table class='mx-auto max-w-4xl w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden '>
                <thead class="bg-gray-900">
                    <tr class="text-white text-left">
                        
                        <th  class="font-semibold text-sm uppercase px-6 py-4"> Descrição </th>
                        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">Ações</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <tr>
                        </td> <%@article.created_at%>
                        <td class="px-6 py-4">
                            <div>
                                <p style="font-size:5.5rem;"><%= simple_format(@article.description)%></p>
                            </div>
                            <p class="text-gray-500 text-sm font-semibold tracking-wide"> Criado a <%= time_ago_in_words(@article.created_at)%>, 
                            Editado a <%= time_ago_in_words(@article.updated_at)%>
                            </p>
                            <% if @article.categories.any? %>
                                <p class="text-red-800 text-sm font-semibold tracking-wide"><%= render @article.categories %></p>
                            <%end%>
                        </td>
                        
                        
                        <td class="px-6 py-4 text-center"> 
                            <%= link_to 'listagem de postagens', articles_path , class:"text-purple-800 hover:underline"%>

                            <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
                            <%= link_to 'Editar', edit_article_path(@article), class:"text-purple-800 hover:underline"%>
                            <%= link_to 'Apagar', article_path(@article), data: {"turbo-method": :Apagar, "turbo-confirm": "Are you sure?"},class:"text-purple-800 hover:underline"%>
                            <%end%>
                            
                         </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
