<header >
  <nav class="
          flex flex-wrap
          items-center
          justify-between
          w-full
          py-4
          md:py-0
          px-4
          text-lg text-gray-700
          bg-white
        ">
    <div>
      <%= link_to "LENIN", root_path,  class:"logo"%>
    </div>
    <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu">
      <ul class="
              pt-4
              text-base text-gray-700
              md:flex
              md:justify-between 
              md:pt-0">
        <li>
          <%= link_to "Posts", articles_path,  class:"md:p-4 py-2 block hover:text-purple-400"%>
        </li>
        <li>
          <%= link_to "Usuários", users_path,  class:"md:p-4 py-2 block hover:text-purple-400"%>
        </li>
        <li><%= link_to "Sobre", about_path, class: "md:p-4 py-2 block hover:text-purple-400" %></li>
        <%if logged_in?%>
          <li>
            <%= link_to "Criar postagem", new_article_path,  class:"md:p-4 py-2 block hover:text-purple-400"%>
          </li>
        <%end%>
        <% if logged_in? %>
          <li>
            <%= link_to current_user.username, user_path(current_user), class:"md:p-4 py-2 block hover:text-purple-400"%>
          </li>
          <li><%= "(Você é um admin.)" if current_user.admin? %></li>
          <li><%= link_to 'Sair', logout_path, class:"md:p-4 py-2 block hover:text-purple-400", data: { "turbo-method": :delete } %></li>
          <li><%= link_to 'Apagar conta e dados', user_path(current_user), class:"reder md:p-4 py-2 block hover:text-purple-400" ,
             data: { "turbo-method": :delete , turbo_confirm: 'Você está certo do que deseja fazer?'}%>
          </li>
        <%else%>
          <li><%= link_to "Login", login_path,  class:"md:p-4 py-2 block hover:text-purple-400 text-purple-500"%></li>
          <li><%= link_to "Criar uma conta", signup_path,  class:"md:p-4 py-2 block hover:text-purple-400 text-purple-500"%></li>
        <%end%>
        
      </ul>
    </div>
  </nav>
</header>
